<h2>Detalles del colectivo</h2>

<form [formGroup]="colectivosForm" (submit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Patente</mat-label>
        <input matInput formControlName="patente">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Cantida De Asientos</mat-label>
        <input matInput formControlName="cantidadAsientos">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Marca</mat-label>
        <input matInput formControlName="marca">
      </mat-form-field>
      </div>
    
    
    <button mat-raised-button type="submit" [disabled]="colectivosForm.invalid">Guardar</button>
    <a class="volverAlListado" routerLink="/colectivos">Volver al listado</a>
  </form>
  
