<h2>Personas</h2>

<h3>Crear Persona</h3>

  <input matInput placeholder="Nombre" [(ngModel)]="nuevaPersona.nombre">
  <input matInput placeholder="Apellido" [(ngModel)]="nuevaPersona.apellido">
  <input matInput type="number" placeholder="Edad" [(ngModel)]="nuevaPersona.edad">
  <button mat-raised-button color="primary" type="submit" (click)="agregarPersona()">Crear Persona</button>


<h3>Listado de Personas</h3>
<ul>
  <li *ngFor="let persona of personas">
    Nombre: {{ persona.nombre }} - Apellido: {{ persona.apellido }} - Edad: {{ persona.edad }}
  </li>
</ul>
