<h2>Detalles del viaje</h2>

<form [formGroup]="viajesForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="origen">Origen</label>
    <input type="text" formControlName="origen">
    <div *ngIf="viajesForm.controls['origen'].invalid && viajesForm.controls['origen'].touched">
      <div class="alert alert-danger">El origen es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="destino">Destino</label>
    <input type="text" formControlName="destino">
    <div *ngIf="viajesForm.controls['destino'].invalid && viajesForm.controls['destino'].touched">
      <div class="alert alert-danger">El destino es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="fecha">Fecha</label>
    <input type="text" formControlName="fecha" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <div *ngIf="viajesForm.controls['fecha'].invalid && viajesForm.controls['fecha'].touched">
      <div class="alert alert-danger">La fecha es requerida</div>
    </div>
  </div>  
  <div class="form-group">
    <label for="hora">Hora</label>
    <input type="time" formControlName="hora" matInput>
    <div *ngIf="viajesForm.controls['hora'].invalid && viajesForm.controls['hora'].touched">
      <div class="alert alert-danger">La hora es requerida</div>
    </div>
  </div>  
  <div class="form-group">
    <label for="lugarSalida">Lugar de salida</label>
    <input type="text" formControlName="lugarSalida">
    <div *ngIf="viajesForm.controls['lugarSalida'].invalid && viajesForm.controls['lugarSalida'].touched">
      <div class="alert alert-danger">El lugar de salida es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lugarDestino">Lugar de destino</label>
    <input type="text" formControlName="lugarDestino">
    <div *ngIf="viajesForm.controls['lugarDestino'].invalid && viajesForm.controls['lugarDestino'].touched">
      <div class="alert alert-danger">El lugar de destino es requerido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="horaSalidaEstimada">Hora de salida estimada</label>
    <input type="time" formControlName="horaSalidaEstimada" matInput>
    <div *ngIf="viajesForm.controls['horaSalidaEstimada'].invalid && viajesForm.controls['horaSalidaEstimada'].touched">
      <div class="alert alert-danger">La hora de salida estimada es requerida</div>
    </div>
  </div>
  <div class="form-group">
    <label for="horaLlegadaEstimada">Hora de llegada estimada</label>
    <input type="time" formControlName="horaLlegadaEstimada" matInput>
    <div *ngIf="viajesForm.controls['horaLlegadaEstimada'].invalid && viajesForm.controls['horaLlegadaEstimada'].touched">
      <div class="alert alert-danger">La hora de llegada estimada es requerida</div>
    </div>
  </div>
  <div class="form-group">
    <label for="colectivo">Colectivo</label>
    <mat-form-field appearance="fill">
      <mat-label>Colectivo</mat-label>
      <mat-select formControlName="colectivo">
        <mat-option *ngFor="let colectivo of colectivosList" [value]="colectivo">{{ colectivo }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="viajesForm.controls['colectivo'].invalid && viajesForm.controls['colectivo'].touched">
      <div class="alert alert-danger">El colectivo es requerido</div>
    </div>
  </div>
  

  <button type="submit" [disabled]="viajesForm.invalid">Guardar</button>

</form>

<a routerLink="/viajes">Volver al listado</a>
