<h2>Colectivos</h2>

<h3>Crear Colectivo</h3>
<div>
  <label>Patente:</label>
  <input type="text" [(ngModel)]="nuevoColectivo.patente">
  <br>
  <label>Cantidad de Asientos:</label>
  <input type="number" [(ngModel)]="nuevoColectivo.cantidadAsientos">
  <br>
  <label>Modelo - Nombre:</label>
  <input type="text" [(ngModel)]="nuevoColectivo.modelo.nombre">
  <br>
  <label>Modelo - Marca:</label>
  <input type="text" [(ngModel)]="nuevoColectivo.modelo.marca">
  <br>
  <button (click)="crearColectivo()">Crear Colectivo</button>
  <button (click)="reiniciarNuevoColectivo()">Cancelar</button>
</div>

<h3>Listado de Colectivos</h3>
<table mat-table [dataSource]="colectivos" class="mat-elevation-z8">
  <!-- Columna Patente -->
  <ng-container matColumnDef="patente">
    <th mat-header-cell *matHeaderCellDef> Patente </th>
    <td mat-cell *matCellDef="let colectivo"> {{ colectivo.patente }} </td>
  </ng-container>

  <!-- Columna Cantidad de Asientos -->
  <ng-container matColumnDef="cantidadAsientos">
    <th mat-header-cell *matHeaderCellDef> Cantidad de Asientos </th>
    <td mat-cell *matCellDef="let colectivo"> {{ colectivo.cantidadAsientos }} </td>
  </ng-container>

  <!-- Columna Modelo - Nombre -->
  <ng-container matColumnDef="modeloNombre">
    <th mat-header-cell *matHeaderCellDef> Modelo - Nombre </th>
    <td mat-cell *matCellDef="let colectivo"> {{ colectivo.modelo.nombre }} </td>
  </ng-container>

  <!-- Columna Modelo - Marca -->
  <ng-container matColumnDef="modeloMarca">
    <th mat-header-cell *matHeaderCellDef> Modelo - Marca </th>
    <td mat-cell *matCellDef="let colectivo"> {{ colectivo.modelo.marca }} </td>
  </ng-container>

  <!-- Definición de las columnas de la tabla -->
  <tr mat-header-row *matHeaderRowDef="['patente', 'cantidadAsientos', 'modeloNombre', 'modeloMarca']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['patente', 'cantidadAsientos', 'modeloNombre', 'modeloMarca']"></tr>
</table>
