<h2>Colectivos</h2>

<h3>Crear Colectivo</h3>
<div>
  <label>Patente:</label>
  <input type="text" [(ngModel)]="nuevoColectivo.patente">
  <br>
  <label>Cantidad de Asientos:</label>
  <input type="number" [(ngModel)]="nuevoColectivo.cantidadAsientos">
  <br>
  <label>Modelo - Nombre:</label>
  <input type="text" [(ngModel)]="nuevoColectivo.modelo.nombre">
  <br>
  <label>Modelo - Marca:</label>
  <input type="text" [(ngModel)]="nuevoColectivo.modelo.marca">
  <br>
  <button (click)="crearColectivo()">Crear Colectivo</button>
  <button (click)="reiniciarNuevoColectivo()">Cancelar</button>
</div>

<h3>Listado de Colectivos</h3>
<ul>
  <li *ngFor="let colectivo of colectivos">
    <strong>Patente:</strong> {{ colectivo.patente }},
    <strong>Cantidad de Asientos:</strong> {{ colectivo.cantidadAsientos }},
    <strong>Modelo:</strong> {{ colectivo.modelo.nombre }} ({{ colectivo.modelo.marca }})
  </li>
</ul>
